body {
    /* background-color: rgb(241, 224, 202); */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    width: 50vw;
    height: 80vh;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(146, 196, 196);
    background-color: rgb(194, 229, 229);
    border-radius: 10%;
}




#buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 38vw;
    justify-content: center;
    gap: 0.5em;
    border: 5px solid rgb(93, 95, 93);
    border-top: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgb(15, 17, 17);
    border-radius: 0 0 5% 5%;

}
button {
    width: 3em;
    height: 3em;
    text-align: center;
    border-radius: 10%;
    border-style: none;
    font-size: 1.5em;
}


.lastRow {
    width: 38vw;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

#equals {
    width: 6.35em;
    border-radius: 10%;
    /* display: flex; */
    
}

#display{
    border: 5px solid rgb(93, 95, 93);
    width: 38vw;
    height: 2em; 
    /* margin-bottom: 1em; */
    background-color: white;
    /* padding: 1em 1.5em; */
    text-align: end;
    font-size: 2em;
    display: flex;
    justify-content: end;
    align-items: end;
    border-radius: 10px 10px 0 0 ;
        
}

.special-modifier {
    background-color: rgb(180, 176, 173);
}

.modifier {
    background-color: rgb(253, 148, 68);
}

